{% extends "base.twig" %}

{% block content %}
    <div class="content-section block block--highlight">
        {% if logged_in %}
            {{post.content}}
        {% else %}
            {{fn('wp_login_form')}}
        {% endif %}
    </div>
{% endblock %}
