{% extends "base.twig" %}

{% block content %}
    <header class="article__header">
        <div class="article__header__image content-section" style="background-image: url({{post.thumbnail.src|resize(1920)}});"></div>
        <h1 class="content-section article__header__title block">{{post.title}}</h1>
    </header>

    <article class="{{post.post_class}} article content-section">
        <div class="article__content content-section__content">
            {{post.content}}
        </div>
        {% include 'partials/post-footer.twig' %}
    </article>
{% endblock %}
