{% extends "base.twig" %}

{% block content %}
    {% for type in resource_types %}
        <div class="content-section">
            <a href="{{type.link}}">
                <h3>{{type.name}}</h3>
                <p>{{type.description}}</p>
            </a>
        </div>
    {% endfor %}
{% endblock %}
