.makerspace-map {
    height: 25em;
    width: 100%;
    border-top: 1px solid #ddd;
    @include tp-trailer(2);
    position: relative;
    &:after {
        content: "";
        display: block;
        @include scut-fill;
        z-index: 0;
        pointer-events: none;
        box-shadow: inset 0 5px 10px rgba(0,0,0,.4);
    }

    .leaflet-popup-content-wrapper {
        box-shadow: none;
        border-radius: 0;
        background-color: $footer-bgc;
        color: $bgc;
        font-family: $font-body;
        @include tp-fs(-1);

        &:after {
            content: '';
            display: block;
            @include scut-triangle('down', 50px 25px, $footer-bgc);
            position: absolute;
            right: 50%;
            top: 100%;
            margin-right: -25px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: $font-h;
            color: $link-c;
            margin-bottom: 0;
        }

        address {
            font-style: normal;
        }

        p {
            margin: 0;
        }
    }

    &.leaflet-container,
    .leaflet-popup-content-wrapper {
        a {
            color: $link-c;
            @include scut-selected(true) {
                color: $link-c--hover;
            }
        }
    }

    // Hide close button
    .leaflet-popup-close-button {
        display: none;
    }

    // Hide default pointy bit
    .leaflet-popup-tip-container {
        display: none;
    }

    .leaflet-popup-tip {

    }
}

.main-footer {
    color: $footer-c;
    background-color: $footer-bgc;

    a {
        color: $footer-link-c;
        @include scut-selected(true) {
            color: $footer-link-c--hover;
        }
    }
}

.footer-widgets {

}

.footer-social {
    @include tp-fs(2);

    .dev-share-buttons-link {
        color: $footer-c;
        margin-right: 0.5em;

        @include scut-selected(true) {
            color: $footer-link-c;
        }
    }
}

.main-footer__nav__a {
    display: block;
    padding: .4em 0;
    @include breakpoint($mid-break, '.lt-ie9') {
        padding: .5em;
        &:last-child {
            padding-right: 0;
        }
    }
}