.main-footer {
    color: $footer-c;
    background-color: $footer-bgc;

    a {
        color: $footer-link-c;
        @include scut-selected(true) {
            color: $footer-link-c--hover;
        }
    }
}

.footer-widgets {

}

.footer-social {
    @include tp-fs(2);

    .dev-share-buttons-link {
        color: $footer-c;
        margin-right: 0.5em;

        @include scut-selected(true) {
            color: $footer-link-c;
        }
    }
}

.main-footer__nav__a {
    display: block;
    padding: .4em 0;
    @include breakpoint($mid-break, '.lt-ie9') {
        padding: .5em;
        &:last-child {
            padding-right: 0;
        }
    }
}