.main-header {
    background-color: $header-bgc;
    color: $header-c;
}

.main-title {
    a {
        color: $text-c;
    }
}

.button.button--donate {
    @include tp-fs(1);
    @include sassy-button('flat', .2em, 1em, $button-bgc);
    font-weight: $font-h;
    font-weight: 800;
}