.home-banner {
    background-color: $link-c;
    background-image: image-url('banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: $bgc;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.4);
    text-shadow: 0 0 .5em rgba(0,0,0,.4);
}

.home-widgets__widget__title {
    font-family: $font-body;
    font-weight: 200;
    @include tp-fs(1);
}

.home-widgets {
    .entry-title,
    .widget__post-list__post__title
     {
        @extend .h4;
    }
}