.main-nav {
    border-bottom: 1px solid $border-c;
    text-align: center;
    @include breakpoint($large-break, '.lt-ie9') {
        text-align: left;
    }
}

.main-nav__ul {

}

.main-nav__li {
    &.menu-item-has-children {
        @include scut-selected(true) {
            background: $subnav-link-bg;
        }
    }
}

.main-nav__a {
    color: $nav-link-c;
    background: $nav-link-bg;
    font-weight: bold;

    @include scut-selected(true) {
        color: $nav-link-c--hover;
        background: $nav-link-bg--hover;
    }

    &.is-current {
        color: $nav-link-c--current;
        background: $nav-link-bg--current;
    }

}

// Unlike the main nav this is the ul element
.main-nav__sub-nav {
    // background-color: darken($bgc, 5%);
}

.main-nav__sub-nav__li {

}

.main-nav__sub-nav__a {
    color: $subnav-link-c;
    background: $subnav-link-bg;
    @include tp-fs(-.5);

    @include scut-selected(true) {
        color: $subnav-link-c--hover;
        background: $subnav-link-bg--hover;
    }

    &.is-current {
        color: $subnav-link-c--current;
        background: $subnav-link-bg--current;
    }
}

.pagination {
    @include tp-leader;
    text-align: center;
}

.pagination__ul {
    @extend %scut-list-inline;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination__link {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    padding: .2em .4em;
    background: $text-c;
    color: $bgc;
    border-radius: .1em;
    font-weight: bold;
    transition: background $transition-fast;

    @include scut-selected(true) {
        background: shade($text-c, 40%);
        color: $bgc;
    }

    &.current {
        background: $link-c;
    }
}

.pagination__link--next {
    @extend .pagination__link;

    &:after {
        content: $scut-gt;
    }
}

.pagination__link--next__text {
    @extend %scut-hide-visually;
}

.pagination__link--prev {
    @extend .pagination__link;

    &:before {
        content: $scut-lt;
    }
}

.pagination__link--prev__text {
    @extend %scut-hide-visually;
}

.nav-toggle {
    background-color: rgba($bgc, .7);
    color: $text-c;
    text-transform: uppercase;
    padding: 0.5em;
    text-decoration: none;

    &:before {
        margin-right: 0.25em;
    }
}

// Sidr overwrites
.sidr {
    font-family: $font-body;
    background-color: $footer-bgc;
    box-shadow: none;
    @include tp-fs(0);
}

.sidr a {
    color: $bgc;
    box-shadow: none !important;
    transition: all $transition-fast;
    line-height: $line-height;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;

    @include scut-selected(true) {
        background-color: $bgc;
        color: $footer-bgc;
    }
}

.sidr ul,
.sidr ul li {
    border: none;
}

.sidr ul li:hover > a,
.sidr ul li:hover > span,
.sidr ul li.active > a,
.sidr ul li.active > span,
.sidr ul li.sidr-class-active > a,
.sidr ul li.sidr-class-active > span {
    box-shadow: none;
}

.sidr ul li ul li {
    @include tp-fs(-1);
}